a:hover, a:focus {
    color: #1bbce8;
   }
/*==============================================
==============analize section===================*/

.single_top__block {
	 background: #1bbce8;
	 color: #ffffff;
	 min-height: 169px;
	 padding: 20px 16px 25px 87px;
	 position: relative;
}
media (max-width:991px){
	.single_top__block {
		max-width:400px;
		width:100%;
	}
}
.single_top__block:before{
	content:'';
	position:absolute;
	top:0;
	left:0;
	background: #163a45;
	width: 68px;
	height: 68px;
}

.single_top__block .icon-box__block{
	width: 68px;
	display:block;
	position:absolute;
	top:0;
	left:0;
	text-align: center;
}

.single_text__block{
     position: relative;
}
.single_top__block h2{
	color:#fff;
	font-size:28px;
	font-weight:700;
	line-height: 1.5;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.single_top__block h2 {
    font-size: 24px;
   }
}

@media(max-width:767px){
	.single_top__block h2{
		font-size: 19px;
	}
}
.top_section__block .icon-box__block i {
    display: inline-block;
    font-size: 40px;
    line-height: 68px;
}
.top_section__block {
    margin-top: -48px;
}
.top_wrap__block > h1 {
    color: #1bbce8;
}
.top_wrap__block > p {
    color: #777777;
}
p.blue_text__block {
    color: #3f8ffb;
}
.box_content__block {
    margin: 15px 0;
    min-height: 65px;
    position: relative;
}
.boxed_btn__block i.fa {
    background: #eaeaea none repeat scroll 0 0;
    height: 50px;
    position: absolute;
    width: 50px;
}
.box_content__block i.fa {
    background: #eaeaea none repeat scroll 0 0;
    border-radius: 5px;
    font-size: 20px;
    height: 60px;
    left: 0;
    line-height: 60px;
    margin-top: -39px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 60px;
	color: #123641;;
}
.box_content__block h2 span {
    color: #222222;
    display: block;
    font-size: 70%;
}
.box_content__block h2 {
    font-size: 20px;
    margin-left: 73px;
}
.busines_promo_wrapper__block {
    padding: 80px 0;
}
.section_title__block.text-center h1 {
    display: inline-block;
    position: relative;
}
.section_title__block.text-center h1::after {
    background: #1bbce8 none repeat scroll 0 0;
    bottom: -10px;
    content: "";
    height: 3px;
    left: 50%;
    margin-left: -22.5px;
    position: absolute;
    width: 45px;
}

@media (min-width: 768px) and (max-width: 991px){
    .top_section__block {
      margin-top: 30px;
    }
    .top_section__block .col-md-4:nth-child(2) {
      margin: 20px 0;
    }
}
@media (max-width: 991px){
    .busines_promo_wrapper__block img {
      display: block;
      margin: 0 auto 20px;
    }
}
@media (max-width:767px){
  
   
    .top_section__block .single_top__block{
        margin-top: 30px;
    }
}
/*==============================================
==============about section===================*/
.about-section__block{
	position:relative;
}
.about-section__block:before{
	content:'';
	position:absolute;
	bottom:0;
	left:0;
	height:160px;
	width:100%;
	background:#1bbce8;
}

/*Plane Section style start here*/
.single_plan__block {
    
position: relative;
    
z-index: 1;
    
overflow:hidden;
    
background-color: #163a45;
}
.block_bg1:after{
  background-image: url(https://previews.123rf.com/images/sergeypykhonin/sergeypykhonin1607/sergeypykhonin160700004/60719031-les-gens-avec-des-pancartes-dans-le-style-de-design-plat-l-opinion-publique-les-fans-les-ic%C3%B4nes-de-l.jpg);
  background-size: cover;
}
.block_bg2:after{
  background-image: url(http://photos.demandstudios.com/20/78/fotolia_1949157_XS.jpg);
  background-size: cover;
}

.single_plan__block:after {
   background-position: right top;
    content: "";
    height: 100%;
    right: 0;
    opacity: 0.6;
    position: absolute;
    top: 0;
    width: 39%;
    z-index: -1;
}

.single_plan__block.blue__block::before {
    background: #feb20d;
}
.plan-content-box {
    background:#1bbce8;
    color: #ffffff;
    padding: 30px;
    width: 61%;
	position:relative;
	z-index:9;
}
.plan-content-box:after{
	position: absolute;
	top:0;
	left: 0;
	width: 0;
	height: 100%;
	background:#123641;
	content:'';
	z-index: -1;
	transition: all 0.3s ease-in-out;
}
.single_plan__block:hover .plan-content-box:after{
	width: 100%;
}
.single_plan__block:hover h3::after{
	background:#1bbce8;
}
.block_bg5:after{
  background-image: url(../images/finance-bg2.jpg);
  background-size: cover;
 
}
.block_bg6:after{
  background-image: url(../images/finance-bg3.jpg);
  background-size: cover;
  

}
.single_plan__block:after,
.single_plan__block-img:after {
   background-position: right top;
    content: "";
    height: 100%;
    right: 0;
    opacity: 0.6;
    position: absolute;
    top: 0;
    width: 39%;
    z-index: -1;
	
}
.single_plan__block-img:after{
	 opacity:1;
}

@media(max-width:991px){
.plan-content-box{
	padding: 24px;
}
}
@media (min-width: 991px) and (max-width: 1199px){
.plan-content-box {	
	width:72%;
}	
}
@media (max-width:767px){
    .plan-content-box{
        width: auto;
    }
}

.blue__block .plan-content-box {
    background: #feb20d none repeat scroll 0 0;
    color: #333333;
}
.single_plan__block.blue__block::after {
    background: #00305b none repeat scroll 0 0;
}

.blue__block .more_btn__block {
    color: #333333;
}

.plan-content-box h3 {
    margin-bottom: 35px;
    position: relative;
    font-size: 20px;
}
.plan-content-box h3::after {
    background:#123641;
    bottom: -15px;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    width: 45px;
    transition: all 0.3s ease;
}
.blue__block .plan-content-box h3::after {
    background: #333333;
}

/*Course start here*/
.course-section__block {
    background: #f7f7f7;
}
.courses-content__block ul {
    list-style: outside none none;
    margin-left: 0;
    padding-left: 0;
	margin-bottom: 0;
}
.courses-content__block ul li {
    display: inline-block;
    position: relative;
}
.courses-block{
	background:#fff;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
.courses-block h3.item-title{
	font-size: 18px;
}
}
.class_time{
	color:#9f9e9e;
}
.class_time i{
	margin-left:10px;
}
.courses-content__block{
	    padding: 10px 20px 15px
}
.courses-content__block P{
	color:#444;
}
.courses-info{
	border-top: 1px solid #9f9e9e;
    padding-top: 18px
}
.courses-content__block ul {
    list-style:none;
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 0;
}
.courses-content__block ul li {
    display: inline-block;
    position: relative;
}

.courses-info li.courses-info__price strong del{
	color:#9f9e9e;
}
.courses-info li:last-child{
	float: right;
}
.courses-info li span{
	vertical-align:middle;
}
.courses-info .heart_icon{
	margin-left: 14px;
	font-size:15px;
}
.courses-info .heart_icon i{
	font-size:16px;
}
.courses-info .heart_icon:hover i:before {
    content: "\f004";
	color:red;
}


/*team section*/
.hover_social{
	position: relative;
	overflow:hidden;
}
.single_member__block img{
	width: 100%;
}
.member_S_links__block {
    background: #1bbce8 none repeat scroll 0 0;
    display: inline-block;
    padding: 0 10px;
    position: absolute;
    bottom: -34px;
    transition: 0.3s ease 0s;
}
.single_member__block:hover .member_S_links__block{
	transition: 0.3s ease 0s;
	bottom: 0px;	
}
.member_S_links__block a i.fa {
    color: #ffffff;
    display: inline-block;
    padding: 10px;
    transition: .3s;
}

.member_S_links__block a:hover i.fa {
    color:#123641;
}

.author__block {
    color: #222222;
    margin-top:20px;
}
.author__block > span {
    color: #777777;
    display: block;
    font-weight: normal;
    margin-top: 10px;
    font-weight: 600;
}
.single_member__block > p {
    color: #777777;
}
@media (max-width:991px){
    .member_S_links__block a i.fa{
        padding: 10px 5px;
    }
}

/*Testimonial*/
.testimonial-box{
	text-align:left;
}
.quote-box{
	padding-left:30px;
}
.quote-text {
	padding-left:30px;
	padding-top:10px;
}
.quote-icon i{
	font-size:50px;
}
.quote-left{
	padding-top:60px;
}
.quote-right {
	text-align:right;
}
.quote-author{
	float: left;
    text-transform: uppercase;
    padding-left: 30px;
}
.pt-130{
	    padding-top: 130px;
}
@media (max-width: 991px){
.pt-130{
	    padding-top: 0;
}	
}
.testimonial-block__section .quote-left{
	padding-top: 0; 
}
.testimonial-block__section .quote-icon i {
    font-size: 30px;
}
.testimonial-block__section .quote-box {
    padding-left: 0;
}

.nf-carousel-theme.nf-carousel-arrow .owl-controls .owl-prev, .nf-carousel-theme.nf-carousel-arrow .owl-controls .owl-next {
	top: -42px;
	right: 0;
	left: auto;
	border: 2px solid #e9e9e9;
	color: #ccc;
	font-size: 22px;
	height: 1.8em;
	line-height: 1.6em;
	padding: 0;
	text-align: center;
	width: 1.8em;
	margin-right: 0;
	margin-left: 0;
	opacity: 1;
	background: none;
}
.nf-carousel-theme.nf-carousel-arrow .owl-controls .owl-prev {
	right: 50px;
}
.nf-carousel-theme.nf-carousel-arrow .owl-controls .owl-prev:hover,.nf-carousel-theme.nf-carousel-arrow .owl-controls .owl-next:hover {
	border: 2px solid #fab702;
	color: #fff;
	background: #fab702;
}
@media (max-width: 767px){
.testimonial-block__section .quote-left {
    padding-top: 26px;
}
.nf-carousel-theme.nf-carousel-arrow .owl-controls .owl-prev, 
.nf-carousel-theme.nf-carousel-arrow .owl-controls .owl-next{
	top:auto;
	bottom:-85px;
}
}
/*=======Counter Section Block======*/
.counter-section__img {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
	background-image:url("../images/footer__bg-block.jpg");
	padding: 150px 0;
}
.counter-section__img:before {
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
    background-color: rgba(22, 58, 69, 0.79);
}
.counter-section__box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
     -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.counter-section__box .counter {
    color: #fff;
    font-size: 72px;
	line-height:1.2;
	font-weight:600;
	padding-right: 16px;
	position:relative;
}
.counter-section__box .counter:after{
    content: '';
    width: 2px;
    height: 64px;
    background: #1bbce861;
    position: absolute;
    top: 17px;
    right: 0;
}
.counter-section__box p {
    color: #fff;
    font-size: 18px;
    padding-top: 25px;
    padding-left: 15px;
    text-transform: uppercase;
    text-align: left;
}
.counter-section__block .counter-section__box:last-child p{
	margin-bottom: 0;
}
@media (max-width:767px){
	.counter-section__box .counter:after{
		display: none;
	}
	.counter-section__box .counter{
		font-size: 45px;
		padding-right: 0;
	}
	.counter-section__box{
		display: block;
		text-align: center;
	}
	.counter-section__box br{
		display: none;
	}
	.counter-section__box p{
		text-align: center;
		padding:5px 0 20px;
	}
	
}

/*=======Blog Section=========*/
.latest__block-post{
	padding:20px;
	background: #fff;
}
.latest__block .more_btn__block{
	margin-top: 0;
}
.latest__block-title{
	font-size:20px;
	font-weight: 800;
}
.latest__block-title:hover a{
	color:#1bbce8;
}
.team__block-section .team-member{
	margin-bottom:0;
}
.more_btn__block {
    color:#1bbce8;
    font-weight: bold;
    display: inline-block;
    margin-top: 30px;
}
@media (max-width: 767px){
	.more_btn__block {
	margin-top:0;
	}
}
/*Contact section*/
.bottom-section{
	    background: #1bbce8;
	    position: relative;
}
.contact_block-text{
	    padding-top: 32px;
}
.contact_block-text strong{
	text-transform: uppercase;
    font-size: 31px;
    letter-spacing: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    display: block;
    padding-bottom: 20px;
}
.contact_block-text p{
	font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 35px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
		.contact_block-text strong{
		font-size: 25px;
	}
.contact_block-text p{
	    font-size: 28px
}
}
@media (max-width: 767px){
	.contact_block-text strong{
		font-size: 20px;
	}
.contact_block-text p{
	    font-size: 19px
}
}
.bottom-section .input-sm{
	height: 42px;
}
.bottom-section textarea{
	resize: none;
	height: 60px;
	margin-bottom: 0;
	display:block;
}
.bottom-section .btn-text{
    border: 2px solid #323232;
    background: #323232;
    max-width: 160px;
    width: 100%;
    margin-top: 10px;
    color: #fff;
}
.light-gray{
	  background: #f9f9f9;
}
.top-padding{
	padding-top:86px;
}
@media (min-width: 991px) and (max-width: 1199px){
.top-padding{
	padding-top:50px;
}
}
@media (max-width: 991px){
.top-padding{
	padding-top:0;
}
.contact_block-text strong{
	font-size: 26px;
}
.contact_block-text p{
	font-size: 29px;
}
}


/*==========Footer section style=========*/
footer ul {
    list-style: outside none none;
    margin: 0 0 0 0;
    padding: 0;
}
footer ul li {
    display: inline-block;
    position: relative;
}
.top_footer_info__block {
    background: #163A45;
    color: #ffffff;
}
.single_info__block h4 span {
    display: block;
    /* font-size: 80%; */
    font-weight: normal;
}
.single_info__block i.fa {
    font-size: 28px;
    height: 80px;
    line-height: 80px;
    margin-top: -40px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 50px;
}
.single_info__block {
    position: relative;
}
.single_info__block > h4 {
    margin-left: 55px;
	font-size: 15px;
    line-height: 23px;
}
.main_footer__block{
    background-image: url(../images/footer__bg-block.jpg);
    background-size: cover;
    background-position:top center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    color: #fff;
}
.main_footer__block::before {
  background: #123641 none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.9;
  position: absolute;
  top: 0;
  width: 100%;
}
.footer_box__block h4{
	margin-bottom:30px;
	font-size: 18px;
}
.footer_box__block li {
    /* border-bottom: 1px solid #163A45; */
    margin-bottom: 5px;
    padding-bottom: 10px;
    width: 100%;
}
.footer_box__block li::after {
    content: "\f105";
    font-family: fontawesome;
    position: absolute;
    right: 10px;
    top: 0;
    display: none;
}
.footer_box__block li a {
    color: #ffffff;
    transition:0.3s;
}
.footer_box__block li a:hover{
	color:#1bbce8
}
.footer_box__block.address-box li {
    border: 0 none;
    /* margin-bottom: 5px; */
}
.footer_box__block.address-box li::after {
    display: none;
}
.address-box li i.fa {
    font-size: 18px;
    height: 30px;
    line-height: 30px;
    position: absolute;
    width: 20px;
}
.footer_box__block.address-box p {
    margin:0 0 0 25px;
}


.copyriight_block {
    border-top: 1px solid #ffffff;
}
.footer__block-logo{
	max-width:170px;
    display: block;
}

@media (max-width: 767px){
    .copyriight_block img {
      display: block;
      margin: 0 auto 15px;
    }
    .copyriight_block p{
        text-align: center
    }
    .padding{
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .hero-wrapper__block .container {
      padding: 0;
    }
}
