*{
    font-family: sans-serif;
    outline: none;
}

*{
    --main-color: #f89246;
    --semilight-color: #ffb449;
    --light-color : #fada5a;
    --ultralight-color: #fefd97;
    --secondary-color: #cd0161;
    --lightsecondary-color: #fd6966;
}

#chatbot{
    display: none;
    opacity: 0;
}

#showChat, #chatbot{
    position: fixed;
    right: 2vw;
    bottom: 2vh;
    z-index: 100;
}

#showChat{
    height: 5vh;
    width: 5vh;
    background: var(--main-color);
    color: white;
    font-weight: bold;
    font-size: 2vh;
    border-radius: 1000px;
    border: black solid 2px;
}

#chatbot{
    height: 45vh;
    width: 17.5vw;
    background: #EEE;
    border: black solid 2px;
    border-radius: 20px;
    overflow: hidden;
}

#chatbot>.header{
    height: 4vh;
    padding: 2%;
    display: flex;
    align-items: center;
    background: var(--semilight-color);
    color: white;
}

#chatbot>.header>h3{
    font-size: 2vh;
    flex: 1;
    margin: 0;
    padding: 1%;
}

#chatbot>.header>button{
    font-size: 2vh;
    background: var(--semilight-color);
    border: none;
    border-radius: 10px;
    color: white;
    margin: 0;
    padding: 1%;
}

#chatbot>.header>button:hover, #chatbot>.msgInterface>#send:hover, #showChat:hover{
    background: var(--lightsecondary-color);
    transition: 0.3s;
}

#chatbot>.msgInterface{
    display: flex;
    bottom: 1vh;
    position: absolute;
    width: 100%;
    padding: 1%;
    height: 3.5vh;
    background: #EEEEEE;
    margin-left: 2.5%;
}

#chatbot>.msgInterface>#msg{
    padding: 1%;
    width: 80%;
    border: var(--main-color) solid 1px;
    color: var(--main-color);
    font-weight: bold;
    border-radius: 10px;
}

#chatbot>.msgInterface>#send{
    margin-left: 1%;
    width: 15%;
    border: var(--main-color) solid 1px;
    border-radius: 10px;
    background: var(--main-color);
    color: white;
    font-weight: bold;
}

#chatbot>#conv{
    padding: 1%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-height: 34vh;
    overflow-y: scroll;
}

#chatbot>#conv::-webkit-scrollbar{
    display: none;
}

.msg{
    display: block;
    word-break: break-word;
    border-radius: 8px;
    max-width: 80%;
    padding: 2%;
    margin-top: 2.5%;
}

.botMsg{
    margin-left: 2.5%;
    background: var(--semilight-color);
    color: white;
}

.userMsg{
    align-self: flex-end;
    text-align: left;
    background: var(--main-color);
    color: white;
}



.modal-dialog {
    max-width: 800px;
    margin: 30px auto;
}



.modal-body {
position:relative;
padding:0px;
}
.close {
position:absolute;
right:-30px;
top:0;
z-index:999;
font-size:2rem;
font-weight: normal;
color:#fff;
opacity:1;
}

#defaultCanvas0{
    width: 100%;
}

.embed-responsive-16by9::before{
    padding-top: 5%;
}